
    .ERROR{

    
        body class{
            background-image:none;
            background-color: rgb(253, 253, 253);
            justify-content: center;
            display: flex;
            flex-wrap: wrap;

        }

}