
footer{
    background-color: #23662e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;

    div{
        margin: auto;
        width:max-content;
    }
    .iconos {
        margin-bottom: 5px;

    }
}