header {
    margin: auto;

    background-color: #23662e;

    div {
        background-color: #7d3349ea;

        .nav {
            ul {
                display: flex;
                list-style-type: none;
                align-items: center;
                justify-content: center;
            }

            navbar-light navbar-nav .linkNegro {
                color: rgb(0, 0, 0);
                text-decoration: none;
            }

            div {
                .text-white {
                    font-size: 1.625rem;
                    font-family: $tipografiaTextos;
                    color: $colorPrincipal;
                }
            }


        }

        #idColorFondo {
            background-color: #8F2B49;
        }

    }

}