@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap';
$tipografiaTextos: 'Montserrat', sans-serif;
$tamanoTextos: 50;
$colorPrincipal: rgba(220, 200, 143, 0.929);
$colorSecundario: black;
$colorTerciario: white;
$fuenteGrande: 30px;
$fuenteMediana: 22px;

